@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
