@page
@model ZwinnyCRUD.Cloud.Pages.Projects.CreateModel

@{    
    ViewData["Title"] = "Create";
    string referer = Request.Headers["Referer"].ToString();
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Projects/Details?id=@ViewBag.ProjectId">@ViewBag.ProjectTitle</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create task</li>
    </ol>
</nav>

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <input type="hidden" name="_method" value="post" />
            <input type="hidden" name="csrf_token" value="" />
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary"><i class="icon-plus"></i> Create</button>
                <a class="btn btn-outline-danger" title="Cancel" href="@referer"><i class="icon-cancel"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

