@page
@model ZwinnyCRUD.Cloud.Pages.Tasks.EditModel

@{
    string referer = Request.Headers["Referer"].ToString();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Projects/Details?id=@Model.Task.ProjectId">@Model.Task.Project.Title</a></li>
        <li class="breadcrumb-item"><a href="/Tasks/Details?id=@Model.Task.Id">@Model.Task.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Task.Id" />
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.ProjectId" class="control-label"></label>
                <select asp-for="Task.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="Task.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="" title="Back to @Model.Task.Title details" href="@referer"><i class="icon-reply"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
