@page
@model ZwinnyCRUD.Cloud.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Logout</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p>You have successfully logged out of the application.</p>
