<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <variable name="LogHome" value="${basedir}/logs"/>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
	<target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="logfile"
		        xsi:type="File"
			    fileName="${LogHome}/Debug.txt"
				archiveFileName="${LogHome}/Archive/Debug-${shortdate}.txt"
				maxArchiveFiles="7"
				archiveEvery="Day"
                layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" 
		/>
	</target>
	<target name="asyncFile" xsi:type="AsyncWrapper">
		<target name="warnfile"
				xsi:type="File"
				fileName="${LogHome}/Warn.txt"
				archiveFileName="${LogHome}/Archive/Warn-${shortdate}.txt"
				maxArchiveFiles="30"
				archiveEvery="Day"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
		/>
	</target>
	<target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="errorfile"
			    xsi:type="File"
			    fileName="${LogHome}/Error.txt"
				archiveFileName="${LogHome}/Archive/Error-${shortdate}.txt"
				maxArchiveFiles="30"
				archiveEvery="Day"
                layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" 
		/>
	</target>
	<target name="asyncFile" xsi:type="AsyncWrapper">
		<target name="fatalfile"
				xsi:type="File"
				fileName="${LogHome}/Fatal.txt"
				archiveFileName="${LogHome}/Archive/Fatal-${shortdate}.txt"
				maxArchiveFiles="90"
				archiveEvery="Day"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}"
		/>
	</target>
    <target name="logconsole"
		    xsi:type="Console"
            layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
	<!--Skip non-critical Microsoft logs and so log only own logs-->
	<logger name="Microsoft.*" maxlevel="Info" final="true" /><!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" maxLevel="Info" writeTo="logfile,logconsole" />
	<logger name="*" level="Warn" writeTo="warnfile,logconsole" />
	<logger name="*" level="Error" writeTo="errorfile,logconsole" />
	<logger name="*" level="Fatal" writeTo="fatalfile,logconsole" />
  </rules>
</nlog>